* {
    box-sizing: border-box;
    padding: 0; 
    margin: 0; 
}

body{
    display: flex; 
    justify-content: center;
    
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
}

.container {
    display: flex; 
    flex-direction: row;
    align-items: flex-start;
    background-color: blue;
    gap: 1.5em;
    /* min-height: 50em; */
    min-height: 100vh;
    min-width: 60em;
    margin-top: 4em;
    margin-bottom: 4em;
    /* padding-bottom: 4em; */
}

.sections-container {
    display: flex;
    flex-direction: column;
    gap: .5em;
    min-width: 25em;
    background-color: green;
    justify-content: flex-start;
}

.cv-container {
    min-width: 40em; 
    background-color: green;
    min-height: 50em; 
}

.section {
    display: flex;
    flex-direction: column;
    gap: 1em; 
    background-color: white;
    border-radius: .2em;
    padding: 1em;
}

.collapse-display {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    min-width: 4em;
}

.collapse-display button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 2.5em;
    padding-left: 1em;
}

.list-items-display{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.list-items-display button{
    /* padding: .3em; */
    background-color: white;
    font-size: 1.3em;
    border: none; 
    cursor: pointer;
}

.item-display{
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-between;
    gap: 2em
}

.addNew{
    padding: .3em;
    font-size: 1.4em;
    font-weight: bold;
}

.input-form{
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    gap: .8em; 
}

.input-form-items{
    display: flex;
    flex-direction: column; 
    gap: .2em; 
}

.form-section-data-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    font-size: 1.2em;
}

.form-button-group{
    display: flex;
    flex-direction: row;
    background-color: red;
    justify-content: flex-start;
}

.form-button-group button{
    padding: .3em 2em .3em 2em;
}